body {
  background-color: #F9F9F9;
}

.app {
  position: relative;
  padding-top: 3%;
  width: 500px;
  margin: 0 auto;
}

.row {
  margin-bottom: 0px;
}

.open {
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}

.btn-flat {
  margin-right: 0px !important;
  color: #9e9e9e !important;
}

.btn-flat:hover {
  color: #bdbdbd !important;
}

li .delete {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
}

li:hover .delete {
  opacity: 1;
}

.absolute {
  position: absolute;
  top: 35px;
  right: 55px;
}

.avatar {
  min-height: 0px;
  padding-left: 72px;
  position: relative;
}

.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
}

.avatar .secondary-content {
  position: absolute;
  top: 8px;
  right: 8px;
  float: right;
}

.avatar p {
  margin: 0;
}

textarea.materialize-textarea {
  resize: vertical;
}

.card .card-action {
  padding: 4px;
}