body {
  background-color: #F9F9F9;
  font-family: Roboto;
}

ul {
  list-style: none;
  width: 100%;
  padding: 8px 0px 8px 0px;
  margin: 0px;
}

li {
  width: 100%;
  height: 64px;
  padding-bottom: 6px;
}

li > .mdl-card {
  width: 100%;
  min-height: 64px;
}

label#title {
  cursor: pointer;
}

label > #delete {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
  color: rgb(119, 119, 119);
  outline: none;
}

label:hover #delete {
  opacity: 1;
}

label #delete:hover {
  color: rgb(169, 68, 66);
}

.complete {
  text-decoration: line-through;
  color: rgb(119, 119, 119);
}

.custom-card__title {
  padding-bottom: 0px;
}

.custom-card__supporting-text {
  padding-top: 0px;
  padding-bottom: 0px;
}

.custom-textfield {
  width: 330px;
}

.custom-card {
  overflow: visible;
  min-height: 150px;
}

.custom-card > .mdl-button--fab {
  position: absolute;
  top: 0;
  right: 28px;
  -webkit-transform: translate(0px, -28px);
  -ms-transform: translate(0px, -28px);
  transform: translate(0px, -28px);
}

.mdl-card-64 {
  height: 64px;
}

.flexbox {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flexible,
.raw {
  height: 64px;
}

.flexible {
  flex: 1;
  -webkit-flex: 1;
}

.raw64x48 {
  width: 48px;
  height: 64px;
}

.raw64 {
  width: 64px;
}

.text {
  padding: 20px 0px 20px 0px;
  height: 24px;
}

.checkbox {
  padding: 20px 16px 20px 16px;
  height: 24px;
}

.icon {
  font-size: 24px;
  padding: 16px;
  height: 32px;
}