<div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent"><!-- Tool bar injected here --></header>
    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--middle custom-cell--center">
        <div id="tasks-input"><!-- Input injected here --></div>
        <div id="tasks-list"><!-- List injected here --></div>
        </div>
    </main>
  </div>
</div>