
.back, .delete, .open {
  cursor: pointer;
}

li .delete {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
}

li:hover .delete {
  opacity: 1;
}

.complete {
  text-decoration: line-through;
}

.custom-row {
  margin-bottom: 0px;
}