body {
  background-color: #F9F9F9;
  font-family: 'Roboto';
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  padding-bottom: 6px;
}

p {
  margin: 0;
}

.app {
  position: relative;
  padding-top: 30px;
  width: 512px;
  margin: 0 auto;
}

.loader {
  margin: 128px auto; 
  display: block;
}

.complete {
  text-decoration: line-through;
}

.open {
  cursor: pointer;
}

li .delete {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
}

li:hover .delete {
  opacity: 1;
}

.mdl-textfield {
  width: 100%;
}

.mdl-card {
  min-height: 50px;
  width: 100%;
}

.mdl-button--fab {
  color: white;
}

.mdl-card__menu {
  z-index: 2;
}

.mdl-card__actions {
  color: gray;
}

.mdl-card__title {
  padding: 0px;
  color: white;
  height: 0px;
  overflow: hidden;
  background: url('http://thecatapi.com/api/images/get?format=src&type=gif&size=med') center / cover;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  -o-transition: height 2s;
  transition: height 0.8s;
}

.mdl-card__supporting-text {
  width: auto;
}

.cats {
  height: 500px;
}

.avatar-wrapper {
  position: relative;
}

.avatar-wrapper.left {
  padding-left: 72px;
}

.avatar-wrapper.right {
  padding-right: 72px;
}

.avatar-wrapper .avatar {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
}

.avatar-wrapper .avatar.left {
  left: 15px;
}

.avatar-wrapper .avatar.right {
  color: grey;
  right: -15px;
  top: -5px;
}

.avatar-wrapper .avatar-fab {
  position: absolute;
  padding: 10px 0;
  top: 0px;
}

.avatar-wrapper .avatar-fab.left {
  left: 10px;
}

.avatar-wrapper .avatar-fab.right {
  right: 0px;
}

.all,
.all:hover {
  background: rgb(33,150,243);
}

.green,
.green:hover {
  background: #4caf50;
}

.red,
.red:hover {
  background: #f44336;
}
