<a class="mdl-navigation__link">
  <% if (state('pending')) {%>
  Initializing <%- get('provider') %>...
  <% } else if (state('resolved') && rid()) { %>
    <%- get('greeting') %>, <%- get('name').split(' ', 1)[0] %>&nbsp;&nbsp;&nbsp;
  <% } %>
  <button <% if(rid()) { %> href="/account/<%= rid() %>" <% } else { %> id="signIn" <% } %> class="mdl-button mdl-js-button mdl-button--icon">
    <% if (state('pending')) {%>
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    <% } else if (state('resolved') && has('id')) { %>
    <img src=<%= get('image_url') %> width="32px" height="32px" />
    <% } else { %>
    <i id="icon" class="material-icons">fingerprint</i>
    <% } %>
  </button>
</a>
