<div class="app">
  <button id="account" class="mdl-button mdl-js-button mdl-button--fab" style="margin: 0 auto; display: block; color: grey;">
    <% has('imageUrl') ? print('<img src='+get('imageUrl')+' width="56px" height="56px" id="profile" />') : print('<i id="authenticate" class="material-icons">fingerprint</i>') %>
  </button>
  <p id="name" style="display: block; text-align: center;"><% has('name') && print(get('name')) %></p>
  <span id="details" style="display: block; text-align: center;"><% has('fullyAuthenticated') && print('Fully Logged In') %></span>
</div>
