<style>
	body {
		font-weight: 300;
		background-color:#F9F9F9;
	}
	#task-input::-webkit-input-placeholder {
		font-weight: 300;
	}
	#task-input::-moz-placeholder {
		font-weight: 300;
	}
	#task-input:-ms-input-placeholder {
		font-weight: 300;
	}
	input:-moz-placeholder {
		font-weight: 300;
	}
	#task-input div.well {
		padding: 2px;
	}
	#task-input input {
		border-radius: 4px;
	}
	#task-list ul {
	}
	#task-list li {
		cursor: pointer;
	}
	#task-list li.completed {
		text-decoration: line-through;
	}
	#task-list li #destroy {
		display: none;
	}
	#task-list li:hover #destroy {
		display: block;
	}
</style>
<div class="container" style="padding-top: 10%">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
			<div id="task-input"></div>
			<div id="task-list"></div>
			<div id="task-info"></div>
		</div>
	</div>
</div>