<div class="flex">
    <p class="text">
        <label id="task" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input" <%= checked %>/>
            <span class="mdl-checkbox__label"><%= text %></span>
        </label>
    </p>
</div>
<div class="raw">
    <p class="icon">
        <button id="destroy" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">close</i>
        </button>
    </p>
</div>