<div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- <span class="mdl-layout-title">Title</span> -->
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only" data-region="header"></nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content" data-region="content"></div>
    </main>
    <div data-region="footer"></div>
  </div>
</div>