<div style="width: 300px; margin:0 auto; padding-top: 2%">
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="mdl-textfield mdl-js-textfield">
          <input id="title" class="mdl-textfield__input" type="text" maxlength="23" value="<%- data.title %>" />
        <label class="mdl-textfield__label" for="title"></label>
      </div>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield">
        <input id="details" class="mdl-textfield__input" type="text" maxlength="23" value="<%- data.details %>" placeholder="Add details..." />
        <label class="mdl-textfield__label" for="details"></label>
      </div>
    </div>
    <div class="mdl-card__menu">
      <button id="back" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">arrow_back</i>
      </button>
      <button id="delete" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>
