<div class="app">

  <div class="avatar-wrapper right">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="inputTitle" length="23">
      <label class="mdl-textfield__label" for="inputTitle">What needs to be done?</label>
    </div>

    <div class="avatar-fab right">
      <button id="toggleAllCompletion" class="mdl-button mdl-js-button mdl-button--fab">
        <i class="material-icons">done_all</i>
      </button>
    </div>
  </div>
  
  <ul id="task-items"></ul>

</div>
