<li>
  <div class="card">
    <div class="card-content">

      <span class="toggle">
        <i class="left">
          <input type="checkbox" id="checkbox-<%= id %>" <% isComplete() && print('checked') %> />
          <label for="checkbox-<%= id %>"></label>
        </i>
      </span>
    
      <span class="card-title grey-text text-darken-4 open" id="text-<%= id %>">
        <%- title%>
      </span>
      <p>First Line <br>
         Second Line
      </p>

      <span class="grey-text text-darken-4 delete">
        <i class="material-icons right">delete</i>
      </span>
      
    </div>
  </div>
</li>
