<li>

  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper custom-row">
      
      <div class="col s1 valign-wrapper">
        <input type="checkbox" id="checkbox-<%= id %>" <% isComplete() && print('checked') %> />
        <label for="checkbox-<%= id %>" class="toggle"></label>
      </div>

      <div class="col s8">
        <span class="black-text open" id="text-<%= id %>">
          <%- title%>
        </span>
      </div>

      <div class="col s3">
        <div class="circle delete grey-text text-darken-5" id="delete-<%= id %>">
          <i class="material-icons right">delete</i>
        </div>
      </div>
    
    </div>
  </div>

</li>
