<div class="row">
  <div class="col s0 m3 l4">&nbsp;</div>
  <div class="col s12 m6 l4">
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input id="input-title" type="text" length="23">
        <label for="input-title">What needs to be done?</label>
      </div>
      <div class="col s12 m12 l12">
        <ul id="task-items" class="collection">No tasks for today.</ul>
      </div>
    </div>
  </div>
  <div class="col s0 m3 l4">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large mdi-navigation-menu"></i>
      </a>
      <ul>
        <li><a class="btn-floating green" id="done"><i class="material-icons">done_all</i></a></li>
        <li><a class="btn-floating red" id="delete"><i class="material-icons">delete</i></a></li>
        <li><a class="btn-floating blue" id="settings"><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </div>
</div>
