<li>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">

    <div class="avatar-wrapper">

      <div class="avatar">
        <label class="mdl-checkbox mdl-js-checkbox toggle" for="checkbox-<%- get('id') %>">
          <input type="checkbox" id="checkbox-<%- get('id') %>" class="mdl-checkbox__input" <% has('completed') && print('checked') %>>
        </label>
      </div>

      <p class="open <% has('completed') && print('completed') %>"><%- get('title') %></p>

      <span>
        <% has('details') && print(get('details'), '<br>') %>
        <% print(format('created'), '<br>') %>
        <% has('due') && print(format('due'), '<br>') %>
        <% has('completed') && print(format('completed')) %>
      </span>

      <div class="menu">
        <button class="mdl-button mdl-js-button mdl-button--icon delete">
          <i class="material-icons">delete</i>
        </button>
      </div>

    </div>

    </div>
  </div>
</li>