<div class="flex-container-horiz" style="height: 70px; background-color: #fff; border-bottom: 1px solid #ebebeb;">
  <span style="display: inline-block; line-height: 70px; height: 70px; margin: 0 16px; color: rgba(0,0,0,.43);">
    <a class="mdl-button mdl-js-button mdl-button--icon">
      <img src="<%= getImageUrl() %>" width="32px" height="32px" />
    </a>
  </span>
  <span class="flex-grow" style="display: inline-block; line-height: 70px; height: 70px; color: rgba(0,0,0,.87); text-align: center; font-size: 16px;"><%= get('name') %></span>
  <span style="display: inline-block; line-height: 70px; height: 70px; margin: 0 16px; color: rgba(0,0,0,.43);">
    <button class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">notifications</i>
    </button>
    <a href="/<" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">arrow_backward</i>
    </a>
  </span>
</div>