<div class="mdl-textfield 
           mdl-js-textfield"
     style="height: 32px;
            padding: 0;">
  
  <div style="display: flex;
              flex-direction: row;
              flex-wrap: wrap;">
    
    <div id="chips-list"
         style="flex-shrink: 1;">
    
         <!-- Chips list injected here  -->
    
    </div>
    
    <div style="flex-grow: 1; flex-shrink: 2;">
    
      <input class="mdl-textfield__input"
             type="text"
             autocomplete="off"
             list="chips-datalist"
             id="chips-input"
             style="border: none;
                    outline: none;
                    width: initial;
                    height: 32px;
                    padding: 0 4px 0 12px;
                    color: rgba(0,0,0,.54);">
    
      <datalist id="chips-datalist">
        <!-- Todo: populate the list via ajax or loaded json
        <% Array(10).fill("Chip").forEach(function (element) { %>
          <option class="chips-option" value="<%= element %>">
        <% }) %> -->
      </datalist>
    
    </div>
  
  </div>
    
</div>
