<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--middle custom-cell--center">

    <div class="mdl-card mdl-shadow--2dp" style="width: 100%; padding: 48px;">

      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="login-share">
          <i class="material-icons">share</i>
        </button>
      </div>

      <h3 style="margin: 0; font-weight: 300;">Greetings Simpl'ing</h3>
      <p style="margin: 0; font-weight: 300;">Sign in and tidy up that inbox.</p>

      <div class="mdl-card__supporting-text">
        <% if ( isPending() ) {%>
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        <% } else { %>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; font-size: 16px; margin: 20px 0 10px; font-weight: 300; height: 58px; border: 1px solid rgba(76,87,102,0.1); color: #000000;" id="signin">
            <span style="vertical-align: middle; float: left;">
              <img src="/images/g-logo.png" height="22" width="22">
            </span>
            <span style="text-transform: capitalize; vertical-align: middle;">Continue With Google</span>
          </button>
        <% } %>
      </div>

      <div class="mdl-card__supporting-text">
        <small>Curious? Behold the live <a href="/preview">preview</a>.</small>
      </div>

      <div class="mdl-card__supporting-text" style="border-top: 1px solid rgba(0,0,0,.1);">
        <small>Contribute to this project on <a href="https://github.com/danrpts/webmail_DMZ">github</a>!</small>
      </div>

    </div>

  </div>
</div>