<div style="height: 100%; width: 100%;">

  <div class="mdl-layout mdl-js-layout
              mdl-layout--fixed-drawer">
    
    <div class="mdl-layout__drawer" data-region="drawer">
      
      <!-- Nav Sheet injected here  -->

    </div>

    <!-- Need 100% height here for scrolling on the injected view to work -->

    <div class="mdl-layout__content" style="height: 100%;">

      <div class="flex-container-horiz">
        
        <div data-region="content" style="position: relative; flex: 1; min-width: 400px; height: 100%;">

          <!-- Compose FAB only displayed on small screens -->

          <button class="mdl-button mdl-js-button 
                         mdl-button--fab mdl-button--fab 
                         mdl-button--colored 
                         mdl-color-text--white 
                         mdl-layout--small-screen-only"
                  style="position: absolute;
                         right: 0;
                         bottom: 0;
                         z-index: 999;
                         margin: 23px;" 
                  id="compose">

            <i class="material-icons">create</i>
          
          </button>

          <!-- Message Sheet or Messages List injected here -->
        
        </div>

          <div class="resizable" style="display: none; min-width: 400px; width: 400px; height: 100%;">
        
            <div style=" height: 100%; position: relative; box-sizing: border-box; border-left: 1px solid #e0e0e0;">

              <span class="ui-resizable-handle ui-resizable-w"></span>
            
              <aside data-region="secondary" style="width: 100%; height: 100%;">
              
                <!-- Message injected here -->
              
              </aside>
            
            </div>
          
          </div>

      </div>

    </div>

  </div>

</div>
