<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--middle custom-cell--center">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" id="archive">
      Archive
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" id="ignore">
      Ignore
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" id="forward">
      Forward
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" id="respond">
      Respond
    </button>
  </div>

</div>
