<div>

  <% if ( isPending() ) { %>

    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate custom-progress__indeterminate"></div>

  <% } %>

  <% if ( isEmpty() ) { %>

    <span>(No Messages)</span>

  <% } else { %>
      
    <ul class="mdl-list mdl-color--white">

       <% each(function (message) { %>

        <li class="mdl-list__item mdl-list__item--three-line list-border">

          <span class="mdl-list__item-primary-content" style="height: 80px;">

            <a href="/messages/<%= message.id %>" class="clear">
              <div class="truncate">
                <span class="ellipsis" style="font-size: 14px; font-weight: 400; letter-spacing: 0; line-height: 28px; height: 28px; color: rgba(0,0,0,.54); display: block;">
                  <span style="padding-left: 6px; <% message.isUnread() && print('font-weight: 500; color: rgba(0,0,0,.87);') %>">
                    <%= message.getFrom()[0] %>
                  </span>
                </span>
                <span style="text-align: right; font-size: 14px; font-weight: 400; letter-spacing: 0; line-height: 28px; height: 28px; color: rgba(0,0,0,.54);">
                  <% if ( message.hasAttachment() ) { %>
                    <i class="fa fa-paperclip">&nbsp;</i>
                  <% } else { %>
                    <i class="fa fa-fw">&nbsp;</i>
                  <% } %>
                  <%= message.getTimeAgo() %>
                </span>
              </div>
              <div class="truncate">
                <span class="ellipsis" style="font-size: 14px; font-weight: 400; letter-spacing: 0; line-height: 24px; height: 24px; color: rgba(0,0,0,.54); display: block;">
                  <span style="padding-left: 6px;">
                  <%= message.getSubject() %>
                  </span>
                </span>
              </div>
              <div class="truncate">
                <span class="ellipsis" style="font-size: 14px; font-weight: 400; letter-spacing: 0; line-height: 24px; height: 24px; color: rgba(0,0,0,.54); display: block;">
                  <span style="padding-left: 6px;">
                    <%= message.getSnippet() %>
                  </span>
                </span>
              </div>
            </a>
          </span>
        </li>

       <% }); %>

    </ul>

    <footer class="mdl-color--white" style="height: 68px; width: 100%;">
      <% if ( hasMore() ) { %>
        <div style="padding: 16px 48px; text-align: center;">
          <button class="mdl-button mdl-js-button mdl-button--accent" id="more">
            Load More
          </button>
        </div>
      <% } %>
    </footer>

  <% } %>
</div>