<div>

  <% if ( isPending() ) { %>
      
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate custom-progress__indeterminate">
    </div>
    
  <% } else { %>

    <div class="mdl-grid" style="border-bottom: 1px solid rgba(0,0,0,.12)">
      
      <div class="mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone mdl-cell--middle custom-cell--center">
        <span><%= getHeader('From') %></span>
        <span class="mdl-list__item-sub-title">To: <%= getHeader('To') %></span>
      </div>
    </div>

    <div class="mdl-grid" style="border-bottom: 1px solid rgba(0,0,0,.12)">
      <div class="mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone mdl-cell--middle custom-cell--center">
        <span><%= getHeader('Subject') %></span>
        <span class="mdl-list__item-sub-title"><%= getHeader('Date') %></span>
      </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--middle custom-cell--center">
        <%= getBody() %>
      </div>
    </div>

  <% } %>

</div>
