<div class="mdl-card" style="width: 100%;">
  <div class="mdl-card__actions">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="reply-close">
      <i class="material-icons">close</i>
    </button>
    <input class="reply-textfield" type="text" autocomplete="off" id="reply-input" placeholder="Quick Reply" style="display: inline-block;">
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="reply-send">
      <i class="material-icons">send</i>
    </button>
  </div>
</div>