<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--middle custom-cell--center">

    <div class="mdl-card mdl-shadow--2dp" style="width: 100%; padding: 48px;">

      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="share-back">
          <i class="material-icons">arrow_backward</i>
        </button>
      </div>

      <h3 style="margin: 0; font-weight: 300;">Tell your friends</h3>
      <p style="margin: 0; font-weight: 300;">A messy inbox is futile.</p>

      <div class="mdl-card__supporting-text" style="width: 100%">
        <div  style="width: 100%; font-size: 16px; margin: 20px 0 10px; font-weight: 300; height: 58px;">
          <button class="mdl-button mdl-js-button mdl-button--icon" style="background-color: #55acee; color: #ffffff; margin: 0 12px; height: 58px; width: 58px">
           <i class="fa fa-twitter"></i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon" style="background-color: #405499; color: #ffffff; margin: 0 12px; height: 58px; width: 58px">
            <i class="fa fa-facebook"></i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon" style="background-color: #c13c31; color: #ffffff; margin: 0 12px; height: 58px; width: 58px">
            <i class="fa fa-google-plus"></i>
          </button>
        </div>
      </div>


      <div class="mdl-card__supporting-text" style="width: 100%">
        <small>Still curious? Behold the live <a href="/preview">preview</a>.</small>
      </div>
        
      <div class="mdl-card__supporting-text" style="width: 100%; border-top: 1px solid rgba(0,0,0,.1);">
        <small>View this project on <a href="https://github.com/danrpts/webmail_DMZ">github</a>!</small>
      </div>

    </div>

  </div>

</div>
