<!-- Top row, always visible -->
<div class="mdl-layout__header-row" style="background-color: #ffffff; border-bottom: 1px solid rgba(0,0,0,.12)">
  <!-- Title -->
  <span class="mdl-layout__title" style="font-weight: 300">
    <a class="clear" href="/" style="font-family: 'Pacifico' !important; font-weight: 300; color: #000000 !important;">Mail</a>
  </span>
  <div class="mdl-layout-spacer">
  </div>
  <div id="search" ></div>
  <div class="mdl-layout-spacer">
  </div>
  <button class="mdl-button mdl-js-button mdl-button--icon" id="avatar">
    <img src="<%= getImageUrl() %>" width="32px" height="32px" />
  </button>
</div>