<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= meta.name.charAt(0).toUpperCase() + meta.name.substr(1) %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./stylesheets/default.css" />
  </head>
  <body>
    <div data-js-region="header"></div>
    <div data-js-region="sidebar"></div>
    <div data-js-region="content"></div>
    <div data-js-region="footer"></div>
    <script type="text/javascript" src="./javascripts/libs.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type="text/javascript" src="./javascripts/client.js"></script>
  </body>
</html>
