<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= meta.name.charAt(0).toUpperCase() + meta.name.substr(1) %></title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-deep_orange.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./stylesheets/default.css" />
  </head>
  <body>
    <div data-region="application"></div>
    <script type="text/javascript" src="https://apis.google.com/js/auth.js"></script>
    <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script type="text/javascript" src="./javascripts/libs.js"></script>
    <script type="text/javascript" src="./javascripts/client.js"></script>
  </body>
</html>
