<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Webstack</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css" media="screen" />
    </head>
    <body style="width:100%;height:100%;">
        <script type="text/javascript" src="./javascripts/libs.js"></script>
        <script type="text/javascript" src="./javascripts/client.js"></script>
    </body>
</html>

