
* { 
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

*:before, *:after {
  box-sizing: inherit;
}

html, body{
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  overflow: hidden;
  letter-spacing: 0 !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-family: "Roboto", sans-serif !important;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}

main {
  z-index: 0;
}

footer {
  background: white;
  color: rgba(0,0,0,.54);
  border-top: 1px solid rgba(0,0,0,.12);
  z-index: 3;
}

a.clear {
  color: inherit !important;
  font: inherit !important;
  text-decoration: none !important;
}

.draft-input {
  width: 100%;
}

.custom-cell--center {
  text-align: center;
}

.custom-cell {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.custom-grid {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.custom-tabs__tab {
  cursor: pointer;
}

.custom-progress__indeterminate {
  width: 100%; 
}
