
.list-item {
  background-color: #ffffff;
  color: rgba(0,0,0,.54);
  transition-duration: .28s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: background-color;
}

.list-item {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.list-item:hover {
  background-color: #eee;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
