.reply-container {
  width: 100%;
  font-weight: 300;
  width: 100%;
  color: #212121;
  height: 88px;
  z-index: 90;
}

.reply-textfield {
  outline: none;
  border: none;
  font-weight: 300;
  width: 100%;
  padding: 2px 0;
  line-height: 32px;
  font-size: 16px;
  display:inline-block;
  vertical-align:middle;
  color: rgba(0,0,0,.87);
}

.reply-textfield::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.43);
  font-size: 16px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.reply-textfield::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,.43);
  font-size: 16px;  
  font-family: "Roboto","Helvetica","Arial",sans-serif;

}

.reply-textfield:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,.43);
  font-size: 16px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.reply-textfield:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.43);
  font-size: 16px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}