.search-container .mdl-chip:first-of-type {
  margin-left: 3px;
}


.search-container {
  width: 100%;
  display: block;
  border: none;
  font-weight: 300;
  width: 100%;
  line-height: 35px;
  font-size: 13px;
  height: 44px;
  border-radius: 2px;
  color: #212121;
  background-color: #ffffff;
}

.search-textfield {
  outline: none;
  display: block;
  border: none;
  font-weight: 300;
  width: 100%;
  padding: 1px 15px;
  line-height: 35px;
  font-size: 13px;
  height: 42px;
  color: #212121;
}

.search-field::-webkit-input-placeholder {
  color: #212121;
}
 
.search-textfield:-moz-placeholder { /* Firefox 18- */
  color: #212121;
}
 
.search-textfield::-moz-placeholder {  /* Firefox 19+ */
  color: #212121;
}
 
.search-textfield:-ms-input-placeholder {  
  color: #212121;
}
