.share-container .mdl-chip:first-of-type {
  margin-left: 3px;
}

.share-container {
  height: 58px;
  border: 1px solid rgba(76,87,102,0.1);
  width: 100%;
  font-weight: 300;
  width: 100%;
  line-height: 58px;
  font-size: 13px;
  border-radius: 2px;
  color: #212121;
  background-color: #ffffff;
}

.share-textfield {
  outline: none;
  display: block;
  border: none;
  font-weight: 300;
  width: 100%;
  padding: 0 15px;
  line-height: 58px;
  font-size: 13px;
  height: 58px;
  border-radius: 2px;
  color: #212121;
  background-color: #ffffff;
}

.share-textfield::-webkit-input-placeholder {
  color: #212121;
}
 
.share-textfield:-moz-placeholder { /* Firefox 18- */
  color: #212121;
}
 
.share-textfield::-moz-placeholder {  /* Firefox 19+ */
  color: #212121;
}
 
.share-textfield:-ms-input-placeholder {  
  color: #212121;
}
