
/* Source: http://collaboradev.com/2015/03/28/responsive-css-truncate-and-ellipsis/  */

.truncate {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
 
.truncate > * {
  display: table-cell;
  overflow: hidden;
}

.truncate > .ellipsis {
  text-overflow: ellipsis; /* allow override */
}
